<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>เรซูเม่ของฉัน</title>
</head>
<body>
  <h3>ปฐพล จอมสวรรค์</h3>
  Full-stack web developer
  <hr>
  <h4>
    แนะนำตัว
  </h4>
  <p>
    บลาๆๆๆๆๆ <b>บลาๆๆๆๆๆ</b> <strong>บลาๆๆๆ</strong><br>
    <img src="https://www.iconfinder.com/icons/1608790/phone_icon" alt="iconphone" width="40" height="40">
    <a href="tel:0888802S">0888802</a>

    <address>
      <a href=""></a>
    </address>

  </p>
</body>
</html>